html{
cursor: url(leoncursor.cur), auto;
}

body{
font-family: ms gothic;
color: white;
background: black;
}

a{
color: white;
}

a: hover{
color: #8c1b1a;
}

.umbrella{
width: 200px;
position: fixed;
bottom: 0px;
right: 0px;
}

.leonleftpng{
width: 400px;
position: fixed;
bottom: 0px;
left: 0px;
}

.container1{
width: 750px;
display: grid;
grid-gap: 2px;
grid-template-columns: auto 1fr;
grid-template-areas: 
  "header header header" "nav main more" "footer footer footer";
justify-content: center;
}

.header{
text-align: center;
grid-area: header;
border: solid 2px;
border-color: white;
border-radius: 10px;
}

.nav{
width: 150px;
text-align: center;
grid-area: nav;
border: solid 2px;
border-color: white;
border-radius: 10px;
}

.main{
text-align: center;
grid-area: main;
border: solid 2px;
border-color: white;
border-radius: 10px;
}

.more{
width: 150px;
text-align: center;
grid-area: more;
border: solid 2px;
border-color: white;
border-radius: 10px;
}

.footer{
text-align: center;
grid-area: footer;
border: solid 2px;
border-color: white;
border-radius: 10px;
}
